In [1]:
# standard library imports
import os
import sys

# add project root to Python path
project_root = os.path.abspath(os.path.join(os.getcwd(), '..'))
if project_root not in sys.path:
    sys.path.append(project_root)

# third-party imports
#import rasterio
import geopandas as gpd
import numpy as np
import pandas as pd

# change to project root directory
os.chdir('../')
print("directory changes")
print(f"current working directory is:", os.getcwd())

directory changes
current working directory is: /Users/carolinecullinan/dev/wb/damaturu-nigeria-idp

## 1.0 Prepare Service Data (Health & Education)

In [10]:
# read in raw gpkg Damaturu education facility, health facility, and road data
damaturu_education = gpd.read_file("data/raw/2024-12-nigeria-damaturu_02-process-output_spatial_damaturu_osm_schools.gpkg")
damaturu_health = gpd.read_file("data/raw/2024-12-nigeria-damaturu_02-process-output_spatial_damaturu_osm_health.gpkg")
damaturu_roads = gpd.read_file("data/raw/2024-12-nigeria-damaturu_02-process-output_spatial_damaturu_osm_roads.gpkg")

In [8]:
# gain insight into damaturu_education
with pd.option_context('display.max_rows', 5, 'display.max_columns', None): 
    display(damaturu_education)

   amenity                          name                   geometry   category
0  college  college of nursing/midwifery  POINT (11.95972 11.72799)  education

In [7]:
# gain insight into damaturu_health
with pd.option_context('display.max_rows', 5, 'display.max_columns', None): 
    display(damaturu_health)

    amenity                       name                   geometry category
0  hospital  State Specialist Hospital  POINT (11.95662 11.72965)   health
1  hospital             family support  POINT (11.95595 11.76350)   health
2  hospital    State Teaching Hospital  POINT (11.92169 11.73657)   health
3  hospital                       None  POINT (12.00103 11.74070)   health

In [6]:
# add column to damaturu_education to indicate the category as "education"
damaturu_education['category'] = 'education'

# add column to damaturu_health to indicate the category as "health"
damaturu_health['category'] = 'health'

In [9]:
# merge damaturu_education and damaturu_health into a single dataframe
damaturu_services = pd.concat([damaturu_education, damaturu_health], ignore_index=True)

# gain insight into damaturu_services
with pd.option_context('display.max_rows', 5, 'display.max_columns', None): 
    display(damaturu_services)

,amenity,name,geometry,category
0,college,college of nursing/midwifery,POINT (11.95972 11.72799),education
1,hospital,State Specialist Hospital,POINT (11.95662 11.72965),health
2,hospital,family support,POINT (11.95595 11.76350),health
3,hospital,State Teaching Hospital,POINT (11.92169 11.73657),health
4,hospital,None,POINT (12.00103 11.74070),health

In [11]:
# gain insight into damaturu_roads
with pd.option_context('display.max_rows', 5, 'display.max_columns', None): 
    display(damaturu_roads)

,length,time,mode,geometry
0,40.693,7.32474,drive,"LINESTRING (12.00817 11.73678, 12.00796 11.73648)"
1,179.171,16.12539,drive,"LINESTRING (12.00817 11.73678, 12.00847 11.736..."
...,...,...,...,...
13341,69.088,12.43584,drive,"LINESTRING (11.94926 11.71477, 11.94865 11.71461)"
13342,448.586,80.74548,drive,"LINESTRING (11.94463 11.71374, 11.94630 11.714..."

In [16]:
# gain insight into damaturu_roads
print(damaturu_roads.head())
print(damaturu_roads.columns)
print(damaturu_roads['mode'].unique())

    length       time   mode  \
0   40.693   7.324740  drive
1  179.171  16.125390  drive
2   10.702   1.100777  drive
3  124.743  11.226870  drive
4  190.448  17.140320  drive

                                            geometry
0  LINESTRING (12.00817 11.73678, 12.00796 11.73648)
1  LINESTRING (12.00817 11.73678, 12.00847 11.736...
2  LINESTRING (12.00956 11.73591, 12.00961 11.73600)
3  LINESTRING (12.00956 11.73591, 12.00996 11.735...
4  LINESTRING (11.99645 11.74261, 11.99715 11.742...
Index(['length', 'time', 'mode', 'geometry'], dtype='object')
['drive']